whatsapp.json
{
  "name": "My workflow 6",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "6487e497-8473-429b-b6d6-d2890aedf5c1",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -928,
        352
      ],
      "id": "64ef9f00-1cf6-45fc-824b-d808b9b6eaf1",
      "name": "Webhook",
      "webhookId": "6487e497-8473-429b-b6d6-d2890aedf5c1"
    },
    {
      "parameters": {
        "operation": "send",
        "phoneNumberId": "806375935882889",
        "recipientPhoneNumber": "923195029402",
        "textBody": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.whatsApp",
      "typeVersion": 1,
      "position": [
        240,
        240
      ],
      "id": "8bf81186-f266-40ca-874b-f22f50a76c5a",
      "name": "Send message",
      "webhookId": "6304b050-3ab5-4886-87c2-baba930363e5",
      "credentials": {
        "whatsAppApi": {
          "id": "TI87AKyPw1ifeKlT",
          "name": "WhatsApp account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f6c02833-c9eb-4efd-a6f0-7677ffef9c03",
              "leftValue": "={{ $json.body.entry[0].changes[0].value.messages }}",
              "rightValue": "",
              "operator": {
                "type": "array",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -640,
        352
      ],
      "id": "17e1c47b-38c8-4ca1-b3ac-652238b6ff53",
      "name": "If"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.entry[0].changes[0].value.messages[0].text.body }}\n\ncontact number: {{ $json.body.entry[0].changes[0].value.messages[0].from }}",
        "options": {
          "systemMessage": "You are a helpful assistant\n\nexplain the user message"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -224,
        224
      ],
      "id": "f065a056-38ad-406e-9ce9-d0aa5a018edc",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -352,
        496
      ],
      "id": "b0bb3da6-434e-4e55-8fdc-88e429203959",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "Aw5oI5iNu9l5qY2D",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.entry[0].changes[0].value.contacts[0].wa_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -192,
        496
      ],
      "id": "b9a62912-3ba3-43f7-a04d-476ff74b79b6",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "gsfdgsdfg",
        "options": {}
      },
      "type": "n8n-nodes-base.discordTool",
      "typeVersion": 2,
      "position": [
        -16,
        480
      ],
      "id": "7d884805-aeb9-427e-a620-65e1837a678b",
      "name": "Discord",
      "webhookId": "f7fac1d5-ee7c-411e-902b-c762c880570c",
      "credentials": {
        "discordWebhookApi": {
          "id": "JLf3hV6hNzHK8OiE",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Send message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Discord": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d2ca8b6a-fd3a-4b22-b3e9-24e8a68435a2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "76a1dd80d1c0c61455ae820d92355dd2d38b0505a09ca30cc2944d1c973e19ce"
  },
  "id": "bIo1kmP0C78Nnjpv",
  "tags": []
}